<div class="modal">
  <div class="wrapper">
    <div class="left">
      <h1>Student Data</h1>
      <table class="student-table">
        <tbody>
          <tr>
            <td contenteditable='true'>RIN</td>
            <td contenteditable='true'>`Name</td>
            <td contenteditable='true'>Email</td>
          </tr>
          <tr>
            <td contenteditable='true'>EWS Reason</td>
            <td contenteditable='true'>Course Name</td>
            <td contenteditable='true'>Course Code</td>
          </tr>
          <tr>
            <td contenteditable='true'>Dorm</td>
            <td contenteditable='true'>Room</td>
            <td contenteditable='true'>Date</td>
          </tr>
          <tr>
            <td contenteditable='true' colspan="2">Prof Comment</td>
            <td contenteditable='true'> Num EWS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class=" right">
      <h1>Student Status</h1>
      <div class="two-col">
        <p>Something</p>
      </div>
      <button>Submit</button>
    </div>
  </div>
</div>