.la-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1.35px solid rgb(12, 12, 12);
}

.la-card:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  flex-wrap: wrap;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
}

li {
  font-size: 1em;
}

hr {
  width: 65%;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(160, 160, 160);
  border: 0.5px solid rgb(160, 160, 160);
  border-radius: 1px;
}
