::ng-deep :root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: black;
  --text-secondary: rgb(231, 231, 231);
  --bg-primary: #ffffff;
  --bg-secondary: #b4b4b4;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #e2e2e2;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  width: 14vw;
  height: 100vh;
  left: 0px;
  z-index: 20;
  padding: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-bar-header {
  align-items: center;
  margin-left: 5%;
  font-size: 100%;
  color: rgb(92, 92, 92);
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  flex-wrap: nowrap;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: inline;
  margin-left: 1rem;
  width: fit-content;
}

.nav-link svg {
  margin-left: auto;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.nav-line {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: .2vh;
  border-radius: 100%;
}

.nav-button {
  display: flex;
  width: fit-content;
  border-radius: 5px;
  border: 0;
  margin-left: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
  padding: 1% 10%;
  background-color: #CBE6FF;
  transition: var(--transition-speed);
}

.nav-button:hover {
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed);
  background-color: #85c4ff;
}
.nav-button-dashboard {
  display: flex;
  width: 60%;
  border-radius: 5px;
  border: 0;
  margin-left: 10%;
  margin-top: 2%;
  padding: 1% 10%;
  transition: var(--transition-speed);
}

.active {
  background-color: #F2F2F2;
  transition: var(--transition-speed);
}

.active:hover {
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed);
  background-color: #c7c7c7;
}

.inactive {
  background-color: #ffffff;
  transition: var(--transition-speed);
}

.inactive:hover {
  filter: grayscale(0%) opacity(1);
  transition: var(--transition-speed);
  background-color: #c7c7c7;
}

/* Small screens */
@media only screen and (max-width: 800px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Large screens */

@media only screen and (min-width: 800px) {
  .navbar {
    top: 0;
    height: 100vh;
  }
}
