<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="history" class="nav-link">
        <span class="link-text">History</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <circle cx="128" cy="128" r="96" fill="none" stroke="#000000" stroke-miterlimit="10" stroke-width="16">
          </circle>
          <polyline points="128 72 128 128 184 128" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="homepage" class="nav-link">
        <span class="link-text">Home</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <path
            d="M152,208V160a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v48a8,8,0,0,1-8,8H48a8,8,0,0,1-8-8V115.5a8.3,8.3,0,0,1,2.6-5.9l80-72.7a8,8,0,0,1,10.8,0l80,72.7a8.3,8.3,0,0,1,2.6,5.9V208a8,8,0,0,1-8,8H160A8,8,0,0,1,152,208Z"
            fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path>
        </svg>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="workouts" class="nav-link">
        <span class="link-text">Start a Workout</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <rect x="40" y="40" width="176" height="176" rx="8" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></rect>
          <line x1="176" y1="24" x2="176" y2="56" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="80" y1="24" x2="80" y2="56" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <line x1="40" y1="88" x2="216" y2="88" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></line>
          <polyline points="164 128 117.3 172 92 148" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="analysis" class="nav-link">
        <span class="link-text">Analysis</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="192" height="192" fill="#000000" viewBox="0 0 256 256">
          <rect width="256" height="256" fill="none"></rect>
          <polyline points="224 208 32 208 32 48" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
          <polyline points="224 96 160 152 96 104 32 160" fill="none" stroke="#000000" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="16"></polyline>
        </svg>
      </a>
    </li>
  </ul>
</nav>