<h1> LA Resources and Materials</h1>
<h2> LA Resources </h2>
<div class="flex">
  <div class="rsc-card">
    <img src="../../../assets/images/AcademicGuideposter.png" alt="Rpi101 Poster">
    <h3>Academic Guide</h3>
    <p>View the PDF
      <a href="https://drive.google.com/file/d/1G5AkoHJmUwq9fYG30ui0fjKGgJA1pySv/view?usp=sharing"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/AcademicCalendarPoster.png" alt="Rpi101 Poster">
    <h3>Academic Calendar</h3>
    <p>View on registrar website
      <a href="https://info.rpi.edu/registrar/academic-calendar" target="_blank">Here</a>
    </p>
  </div>
</div>

<h2> Fall Workshops </h2>
<div class="flex">
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>RPI 101 Workshop</h3>
    <p>View the slides
      <a href="https://docs.google.com/presentation/d/1B1yT_V16i8KQnBmbvxn2b4Sg54l1zuND0ax8d2Fqd4A/edit?usp=sharing"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Career Fair Workshop</h3>
    <p>View the slides
      <a href="https://docs.google.com/presentation/d/1NQhdM33YB3yZlYxUm0vuhfVtdue4HfmYu8m44MmSUBE/edit?usp=sharing"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Stress Management Workshop</h3>
    <p>View the slides
      <a href="https://docs.google.com/presentation/d/16xCaZov-WEbMwg_Y2BaZlvPosgbrFVjeTm_FNHY_GRI/edit?usp=sharing"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Spring Registration Workshop</h3>
    <p>View the slides
      <a href="https://docs.google.com/presentation/d/1xiKxqKuMlvkQBKC_ILe9vX9L_x21xm-l/edit?usp=sharing&ouid=109002627428395321248&rtpof=true&sd=true"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Finals Prep Workshop</h3>
    <p>Check back later for slides
      <a href="javascript:void(0)" target="_blank"></a>
    </p>
  </div>
</div>


<h2> Spring Workshops </h2>
<div class="flex">
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>1 Workshop</h3>
    <p>Check back later for slides
      <a href="javascript:void(0)" target="_blank"></a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>2 Workshop</h3>
    <p>Check back later for slides
      <a href="javascript:void(0)" target="_blank"></a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>3 Workshop</h3>
    <p>Check back later for slides
      <a href="javascript:void(0)" target="_blank"></a>
    </p>
  </div>
</div>

<div class="adtnl-rsc">
  <h2> Additional Resources </h2>
  <h3>ALAC Drop In Tutoring</h3>
  <h4>Advising & Learning Assistance Center</h4>
  <p>Visit the
    <a href="https://info.rpi.edu/advising-learning-assistance/learning-assistance/#TutoringServices
  " target="_blank">ALAC Drop-In Tutoring website</a> for tutoring availability, locations and hours.
  </p>
  <h3>ALAC Website</h3>
  <h4>Advising & Learning Assistance Center</h4>
  <p>For additional ALAC resources visit the
    <a href="https://info.rpi.edu/advising-learning-assistance
  " target="_blank">ALAC website</a>.
  </p>
  <h3>CCPD</h3>
  <h4>Center For Career and Professional Development</h4>
  <p>Visit the
    <a href="https://info.rpi.edu/advising-learning-assistance
  " target="_blank">CCPD website</a> for career and professional development resources and services.
  </p>
  <h3>COMM+D</h3>
  <h4>Center for Global Communication+Design</h4>
  <p>Visit the
    <a href="https://info.rpi.edu/comm-d
  " target="_blank">COMM+D website</a> to make an appointment for writing, communication resources and advising.
  </p>
</div>