<h1> LA Resources and Materials</h1>
<h2> Fall Workshops </h2>

<div class="flex">
  <div class="rsc-card">
    <img src="../../../assets/images/Rpi101.png" alt="Rpi101 Poster">
    <h3>RPI 101 Workshop</h3>
    <p>View the slides
      <a href="https://docs.google.com/presentation/d/1B1yT_V16i8KQnBmbvxn2b4Sg54l1zuND0ax8d2Fqd4A/edit?usp=sharing"
        target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Career Fair Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Stress Management Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Spring Registration Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>Finals Prep Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
</div>


<h2> Spring Workshops </h2>
<div class="flex">
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>1 Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>2 Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
  <div class="rsc-card">
    <img src="../../../assets/images/LAposter.png" alt="Rpi101 Poster">
    <h3>3 Workshop</h3>
    <p>View the slides
      <a href="javascript:void(0)" target="_blank">Here</a>
    </p>
  </div>
</div>