.modal {
  display: block;
  position: fixed;
  width: 75vw;
  height: 400px;
  background-color: #e3f2ff;
  right: 0;
  left: 0;
  top: 0;
  margin-left: 15vw;
  margin-right: auto;
  padding: 20px 40px 20px 40px;
  border-radius: 10px 10px 0 0;
  margin-top: calc(100vh - 400px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 10px;
  min-width: 60%;
  min-height: 75%;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgb(193, 193, 193);
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: block;
  width: 125px;
  height: 30px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  background-color: transparent;
  border-color: rgb(0, 0, 0);
  color: black;
  transition: all 0.1s ease-in-out;
}
