<div class="flex">
  <div>
    <h2>Regular User</h2>
    <table class="user-table">
      <thead>
        <tr>
          <th>User Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of regUsers">
          <td> {{user.email}}</td>
          <td> {{user.role}} </td>
          <td id="btn-td">
            <button class="button red">Remove LA Role</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <h2>LA Users</h2>
    <table class="user-table">
      <thead>
        <tr>
          <th>User Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of laUsers">
          <td> {{user.email}}</td>
          <td> {{user.role}} </td>
          <td id="btn-td">
            <button class="button">Give LA Role</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>