.user-table {
  height: auto;
  border-collapse: collapse;
  font-size: 13px;
}

.button {
  width: 100px;
  height: 20px;
  font-size: 13px;
  border-radius: 2px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

th {
  text-align: center;
}

tbody tr {
  background-color: white;
  border-bottom: 1pt solid transparent;
}

tbody tr:hover {
  border-bottom: 1pt solid rgb(42, 42, 42);
}

td {
  padding: 0.8em;
  text-align: center;
}

tbody .color-tag {
  padding: 3px;
}
