<app-nav></app-nav>
<div class="container">
  <ul>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
    <li> test</li>
  </ul>
</div>
<router-outlet></router-outlet>