<div id="login-wrapper" class="flex-cont">
  <div class="login-form alg-cnt">
    <div class="inner-wrap">
      <h2 class="center-txt header purp fnt-bold">LAMS</h2>
      <h2 class="sign-in-text">Thank You for Registering</h2>
      <div>
        <div class="input-div" *ngIf="authService.userData as user">
          <p class="center-txt">
            We have sent a confirmation email to
            <strong>{{ user.email }}</strong
            >.
          </p>
          <p class="center-txt">
            Please check your email and click on the link to verfiy your email
            address.
          </p>
        </div>
        
        <input
          type="button"
          value="Resend Verification Email"
          class="button purp-btn center-txt"
          (click)="authService.SendVerificationMail()"
        />
      </div>
      <div class="purp text-sm">
        You cannot login until your email is verified
      </div>
    </div>
  </div>
  <p class="no-account">
    Go back?
    <a (click)="visitLogin()">Login</a>
  </p>
</div>
