<div id="login-wrapper" class="flex-cont">
  <div class="login-form alg-cnt">
    <div class="inner-wrap">
      <h2 class="header fnt-bold">LAMS</h2>
      <h2 class="sign-in-text">Reset Password</h2>
      <div class = "auth-div">
        <div class="input-div">
          <p class="center-txt">
            Please enter your email address to request a password reset.
          </p>
        </div>

        <div class="input-div">
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            placeholder="Please enter your email address"
            #userEmail
            required
          />
        </div>
      
        <input
          type="button"
          value="Reset Password"
          class="purp-btn center-txt"
          (click)="authService.ForgotPassword(userEmail.value)"
        />

        <p class="no-account center-txt">
          Go back?
          <a routerLink="/login">Login</a>
        </p>
      </div>
  </div>
</div>
</div>
