<div id="login-wrapper" class="flex-cont">
  <div class="login-left alg-cnt flex-cont">
    <div class="inner-wrap">
      <h2 class="center-txt header purp fnt-bold">Iron Therapy</h2>
      <h2 class="purp center-txt">Reset Password</h2>
      <p class="no-account center-txt">
        Go back?
        <a routerLink="/login">Login</a>
      </p>
      <div>
        <div class="input-group">
          <p class="center-txt">
            Please enter your email address to request a password reset.
          </p>
        </div>

        <div class="input-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            placeholder="Please enter your email address"
            #userEmail
            required
          />
        </div>

        <div class="input-group">
          <input
            type="button"
            value="Reset Password"
            class="button purp-btn center-txt"
            (click)="authService.ForgotPassword(userEmail.value)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="login-right alg-cnt flex-cont">
    <h2>
      This is some text about Iron Therapy and it totally promotes it so you
      will sign up!
    </h2>
  </div>
</div>
