.student-table {
  width: 100%;
  height: auto;
  border-collapse: separate;
  border-spacing: 0.5rem;
  font-size: 13px;
}

th {
  text-align: center;
}

tbody tr {
  background-color: white;
}

tbody tr:hover {
  background-color: #d9d9d9;
}

td {
  border-radius: 5px;
  padding: 0.8em;
  text-align: center;
  max-width: 9em;
}

tbody .color-tag {
  padding: 3px;
  background-color: rgb(190, 223, 162);
}
