.student-table {
  width: 100%;
  height: auto;
  border-collapse: separate;
  border-spacing: 0.5rem;
  font-size: 13px;
}

th {
  text-align: center;
}

tbody tr {
  background-color: white;
  transition: 0.3s;
}

tbody tr:hover {
  background-color: #d9d9d9;
}

td {
  border-radius: 5px;
  padding: 0.8em;
  text-align: center;
  max-width: 9em;
}

tbody .color-tag {
  padding: 3px;
}

hr {
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: rgb(177, 177, 177);
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 1px;
}

.button {
  width: 180px;
  height: 30px;
  margin-bottom: 20px;
}
