<div id="login-wrapper" class="flex-cont">
  <div class="login-form alg-cnt">
    <div class="inner-wrap">
      <h2 class="sign-in-text">Sign up for</h2>
      <h2 class="header fnt-bold">LAMS</h2>
      <div class="auth-div">
        <div class="input-div">
          <!-- Enter email field -->
          <label for="email">Email Address</label>
          <input
            type="email"
            name="email"
            placeholder="Please enter a valid email"
            #userEmail
            required
          />
        </div>
        <!-- Enter password field -->
        <div class="input-div">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Please enter your password"
            #userPass
            required
          />
        </div>
        <!-- Confirm password field -->
        <div class="input-div">
          <label for="password">Confirm Password</label>
          <input
            type="password"
            name="password"
            placeholder="Please confirm your password"
            #userPass2
            required
          />
        </div>
        <!-- Sign up button -->
          <input
            type="button"
            value="Sign Up"
            class="purp-btn center-txt"
            (click)="authService.SignUp(userEmail.value, userPass.value)"
          />

         <!-- Already existing Account router -->
        <p class="no-account center-txt">
          Alread have an account?
          <a routerLink="/login">Login</a>
        </p>
        
        <!-- Sign up with Google router -->
          <button
            type="button"
            class="googleBtn"
            (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Sign up with Google
          </button>
    </div>
    </div>
  </div>
</div>
